.Wrapper_wrapper___M12Y {
    width: calc(100% - 12em);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch
}

@media screen and (max-width:1739px) {
    .Wrapper_wrapper___M12Y {
        width: calc(100% - 6em)
    }
}

@media screen and (max-width:739px) {
    .Wrapper_wrapper___M12Y {
        width: calc(100% - 2em)
    }
}

.Button_button__etXCZ,
.Button_loader__gx7FH {
    background: #1663fe;
    font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #f4f4f8;
    border: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1.2em 1em 1em;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1;
    transition: background .3s ease-out;
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "calt" 0
}

.Button_button__etXCZ:active,
.Button_button__etXCZ:focus,
.Button_button__etXCZ:hover,
.Button_loader__gx7FH:active,
.Button_loader__gx7FH:focus,
.Button_loader__gx7FH:hover {
    background: #4985fe;
    color: #f4f4f8
}

.Button_button__etXCZ .helptext,
.Button_loader__gx7FH .helptext {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.Button_loader__gx7FH {
    position: relative;
    height: 3.25em;
    width: 15em;
    overflow: hidden;
    white-space: nowrap;
    transition: width .3s ease-out
}

.Button_loader__gx7FH span {
    opacity: 1;
    pointer-events: none;
    transition: opacity .3s ease-out .1s
}

.Button_loader__gx7FH div {
    width: 2em;
    height: 2em;
    position: relative;
    transition: opacity .3s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.Button_loader__gx7FH div svg {
    opacity: 0;
    transition: opacity .1s ease-out;
    display: block;
    width: 100%;
    height: 100%
}

.Button_loader__gx7FH div svg rect {
    stroke: #f4f4f8;
    animation-duration: 1.5s;
    fill: none;
    stroke-width: 10px;
    stroke-linecap: square;
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    animation: Button_pathRect__6Ue0A 3s cubic-bezier(.785, .135, .15, .86) infinite
}

.Button_loader__gx7FH:is(.loading) {
    width: 3.25em;
    pointer-events: none
}

.Button_loader__gx7FH:is(.loading) span {
    opacity: 0;
    transition: opacity .1s ease-out
}

.Button_loader__gx7FH:is(.loading) svg {
    opacity: 1;
    transition: opacity .3s ease-out .1s
}

@keyframes Button_pathRect__6Ue0A {
    25% {
        stroke-dashoffset: 64
    }
    50% {
        stroke-dashoffset: 128
    }
    75% {
        stroke-dashoffset: 192
    }
    to {
        stroke-dashoffset: 256
    }
}

.AnimatedRect_rect__HM1A2 {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.AnimatedRect_rect__HM1A2 rect {
    stroke-dasharray: 500%;
    stroke-width: 2em;
    fill: transparent;
    stroke: #ff3a97
}

@media screen and (max-width:739px) {
    .AnimatedRect_rect__HM1A2 rect {
        stroke-width: 14px
    }
}

.AnimatedRect_in__zJ1zU {
    animation: AnimatedRect_draw__lvB9T 2s ease-in forwards
}

.AnimatedRect_out__JY8bG {
    animation: AnimatedRect_undraw__JXvEb 2s ease-out forwards
}

@keyframes AnimatedRect_draw__lvB9T {
    0% {
        stroke-dashoffset: 500%
    }
    to {
        stroke-dashoffset: 0
    }
}

@keyframes AnimatedRect_undraw__JXvEb {
    0% {
        stroke-dashoffset: 0
    }
    to {
        stroke-dashoffset: -500%
    }
}

.Header_header__JAW_Z {
    min-height: calc(100vh - 12em);
    position: relative;
    margin-top: 6em;
    padding: 3em 0;
    align-items: center
}

@media screen and (max-width:1369px) {
    .Header_header__JAW_Z {
        height: calc(100vh - 6em);
        margin-top: 3em
    }
}

@media screen and (max-width:979px) {
    .Header_header__JAW_Z {
        height: auto
    }
}

@media screen and (max-width:739px) {
    .Header_header__JAW_Z {
        margin-top: 1em
    }
}

@media screen and (orientation:vertical) {
    .Header_header__JAW_Z {
        height: auto
    }
}

.Header_header__JAW_Z>div {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em
}

@media screen and (min-width:980px) {
    .Header_header__JAW_Z>div {
        margin-left: calc(((100% / 12) * 1) + 1em);
        width: calc(((100% / 12) * 9) - (1em * 2))
    }
}

@media screen and (min-width:1370px) {
    .Header_header__JAW_Z>div {
        width: calc(((100% / 12) * 7) - (1em * 2))
    }
}

@media screen and (min-width:740px)and (max-width:979px) {
    .Header_header__JAW_Z>div {
        margin-left: calc(((100% / 12) * 1) + 1em)
    }
}

@media screen and (max-width:739px) {
    .Header_header__JAW_Z>div {
        margin-left: calc(((100% / 24) * 1) + 1em)
    }
}

@media screen and (min-width:740px)and (max-width:979px) {
    .Header_header__JAW_Z>div {
        width: calc(((100% / 12) * 9) - (1em * 2))
    }
}

@media screen and (max-width:739px) {
    .Header_header__JAW_Z>div {
        width: calc(((100% / 24) * 22) - (1em * 2))
    }
}

@media screen and (max-width:1369px) {
    .Header_header__JAW_Z>div:after {
        margin-top: 2em
    }
}

@media screen and (max-width:739px) {
    .Header_header__JAW_Z>div:after {
        height: .5em
    }
}

.Header_header__JAW_Z>div h1 {
    font-size: 3.9em;
    letter-spacing: -6px;
    margin: 0
}

@media screen and (max-width:1369px) {
    .Header_header__JAW_Z>div h1 {
        font-size: 3em;
        letter-spacing: -3px
    }
}

@media screen and (max-width:739px) {
    .Header_header__JAW_Z>div h1 {
        font-size: 2.25em
    }
}

.Header_header__JAW_Z>div h2 {
    font-size: 1.3em;
    margin: .5em 0;
    color: #ff3a97;
    letter-spacing: -.5px;
    text-transform: uppercase;
    font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
    line-height: 1.2;
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "calt" 0
}

@media screen and (max-width:739px) {
    .Header_header__JAW_Z>div h2 {
        font-size: 1.15em
    }
}

.Header_header__JAW_Z>div p {
    margin-bottom: 2em
}

.FadeUp_fadeUp__ej_5s {
    opacity: 1;
    display: inline-block;
    transform: translate3d(0, 5em, 0);
    transition-duration: .4s;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transition-delay: 0
}


.FadeUp_active__DcAVv {
    opacity: 1;
    transform: translateZ(0)
}

.Highlights_highlights__bek0I {
    position: relative;
    z-index: 1;
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em
}

@media screen and (min-width:980px) {
    .Highlights_highlights__bek0I {
        width: calc(((100% / 12) * 10) - (1em * 2));
        margin-left: calc(((100% / 12) * 1) + 1em)
    }
}

@media screen and (min-width:740px)and (max-width:979px) {
    .Highlights_highlights__bek0I {
        margin-left: calc(((100% / 12) * 1) + 1em);
        width: calc(((100% / 12) * 10) - (1em * 2))
    }
}

.Highlights_highlights__bek0I>div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    width: calc(100% + (2 * 1em));
    margin: 2em -1em
}

.Highlights_highlights__bek0I>div>* {
    flex: 0 1 auto
}

@media screen and (max-width:979px) {
    .Highlights_highlights__bek0I>div {
        margin-top: -8em
    }
}

@media screen and (max-width:739px) {
    .Highlights_highlights__bek0I>div {
        margin-top: -6em
    }
}

.Highlights_highlights__bek0I>div>span {
    display: block;
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em
}

@media screen and (min-width:1740px) {
    .Highlights_highlights__bek0I>div>span {
        width: calc(((100% / 6) * 1) - (1em * 2))
    }
}

@media screen and (min-width:1370px) {
    .Highlights_highlights__bek0I>div>span {
        width: calc(((100% / 5) * 1) - (1em * 2))
    }
}

@media screen and (min-width:980px) {
    .Highlights_highlights__bek0I>div>span {
        width: calc(((100% / 5) * 1) - (1em * 2))
    }
}

@media screen and (min-width:740px)and (max-width:979px) {
    .Highlights_highlights__bek0I>div>span {
        width: calc(((100% / 6) * 3) - (1em * 2))
    }
}

@media screen and (max-width:739px) {
    .Highlights_highlights__bek0I>div>span {
        width: calc(((100% / 6) * 3) - (1em * 2))
    }
}

.Highlights_highlight__I0Kzj figure {
    background: #ff3a97;
    margin: 0 0 1em;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    position: relative
}

.Highlights_highlight__I0Kzj figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.Highlights_highlight__I0Kzj h3 {
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "calt" 0;
    text-transform: uppercase;
    margin: 0
}

.Highlights_highlight__I0Kzj p {
    margin: 0;
    font-size: .9em
}

.Section_section__QV_9w {
    width: calc(100% - 12em);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 6em;
    position: relative
}

@media screen and (max-width:1739px) {
    .Section_section__QV_9w {
        width: calc(100% - 6em)
    }
}

@media screen and (max-width:739px) {
    .Section_section__QV_9w {
        width: calc(100% - 2em);
        padding-top: 3em
    }
}

.Section_section__QV_9w header {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    z-index: 2
}

@media screen and (min-width:980px) {
    .Section_section__QV_9w header {
        width: calc(((100% / 12) * 7) - (1em * 2))
    }
}

@media screen and (min-width:1370px) {
    .Section_section__QV_9w header {
        width: calc(((100% / 12) * 5) - (1em * 2))
    }
}

@media screen and (min-width:980px) {
    .Section_section__QV_9w header {
        margin-left: calc(((100% / 12) * 1) + 1em)
    }
}

.Section_section__QV_9w header h2 {
    counter-increment: section;
    font-size: 2.667em;
    text-transform: uppercase
}

.Section_section__QV_9w header h2:before {
    content: "0" counter(section) ". "
}

.Section_section__QV_9w header h2:after {
    content: "";
    display: block;
    width: 2em;
    margin: .25em 0;
    height: .25em;
    background: #f4f4f8
}

@media screen and (max-width:739px) {
    .Section_section__QV_9w header h2 {
        font-size: 2em
    }
}

.Section_section__QV_9w header p {
    margin-bottom: 2em
}

.AboutBlock_about__ld6Hg>figure {
    position: absolute;
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;
    top: 6em;
    right: calc(8.3333333333% + 1em)
}

@media screen and (min-width:980px) {
    .AboutBlock_about__ld6Hg>figure {
        width: calc(((100% / 12) * 6) - (1em * 2))
    }
}

.AboutBlock_about__ld6Hg>figure img {
    width: 100%;
    height: auto;
    display: block
}

.AboutBlock_about__ld6Hg>figure:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #091619;
    opacity: .3;
    z-index: 1
}

@media screen and (max-width:1739px) {
    .AboutBlock_about__ld6Hg>figure {
        top: 16em
    }
}

@media screen and (max-width:979px) {
    .AboutBlock_about__ld6Hg>figure {
        position: relative;
        right: auto;
        top: 1em
    }
    .AboutBlock_about__ld6Hg>figure:before {
        content: none
    }
}

.Form_form__OpGZl {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    position: relative
}

@media screen and (min-width:980px) {
    .Form_form__OpGZl {
        width: calc(((100% / 12) * 5) - (1em * 2))
    }
}

.Form_form__OpGZl>span {
    display: block
}

.Form_form__OpGZl output {
    padding: 0 1em;
    margin-top: 1em;
    height: 1px;
    background: #b88348;
    display: block;
    width: 100%;
    opacity: 0;
    transform: translateY(-1em);
    transition: all .3s ease-out
}

.Form_form__OpGZl output[class*=form] {
    padding: 1em;
    height: 100%;
    transform: translateY(0);
    opacity: 1;
    pointer-events: all
}

.Form_form__OpGZl .form-success {
    background: #199342
}

.Form_formItem__Ctq_Z {
    position: relative;
    margin-bottom: 1em;
    z-index: 1;
    width: 100%
}

.Form_formItem__Ctq_Z input,
.Form_formItem__Ctq_Z textarea {
    width: 100%;
    padding: 1.5em 1em .5em;
    font-size: 1em;
    font-family: Bitter, Cambria, Georgia, serif;
    border: none;
    background: #050c0e;
    color: #f4f4f8;
    outline-offset: 1px
}

.Form_formItem__Ctq_Z input:focus,
.Form_formItem__Ctq_Z textarea:focus {
    outline: 1px solid #ff3a97
}

.Form_formItem__Ctq_Z input:focus+label,
.Form_formItem__Ctq_Z textarea:focus+label {
    color: #ff3a97;
    transform: scale(.75) translateY(-.75em)
}

.Form_formItem__Ctq_Z textarea {
    min-height: 10em;
    resize: none
}

.Form_formItem__Ctq_Z .valid {
    outline: 1px solid #ff3a97
}

.Form_formItem__Ctq_Z .valid~label {
    transform: scale(.75) translateY(-.75em)
}

.Form_formItem__Ctq_Z .invalid {
    outline: 1px solid #c69c6d
}

.Form_formItem__Ctq_Z .invalid~label {
    transform: scale(.75) translateY(-.75em)
}

.Form_formItem__Ctq_Z .error {
    right: 1em;
    transform-origin: 100% 0 0;
    transform: scale(.75) translateY(-.75em);
    color: #c69c6d;
    text-align: right
}

.Form_formItem__Ctq_Z .error,
.Form_formItem__Ctq_Z label {
    position: absolute;
    line-height: 1;
    font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
    text-transform: uppercase;
    top: 1.25em
}

.Form_formItem__Ctq_Z label {
    left: 1em;
    transition: all .3s ease-out;
    transform-origin: 0 0 0
}

input:focus~.Form_formItem__Ctq_Z label,
textarea:focus~.Form_formItem__Ctq_Z label {
    color: #ff3a97;
    transform: scale(.75) translateY(-.75em)
}

.Contact_contact__N15Ry>div {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em
}

.Contact_contact__N15Ry>div article {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    width: calc(100% + (2 * 1em));
    margin-left: -1em;
    margin-right: -1em
}

.Contact_contact__N15Ry>div article>* {
    flex: 0 1 auto
}

.Contact_contact__N15Ry>div article>div:first-child {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em 0
}

@media screen and (min-width:980px) {
    .Contact_contact__N15Ry>div article>div:first-child {
        margin-left: calc(((100% / 12) * 1) + 1em);
        width: calc(((100% / 12) * 10) - (1em * 2))
    }
}

.Contact_contact__N15Ry>div article aside {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em
}

@media screen and (min-width:980px) {
    .Contact_contact__N15Ry>div article aside {
        margin-left: calc(((100% / 12) * 1) + 1em);
        width: calc(((100% / 12) * 5) - (1em * 2))
    }
}

.Contact_contact__N15Ry>div article aside>div {
    display: flex;
    gap: 1em
}

.Contact_contact__N15Ry>div article aside>div a {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center
}

.Contact_contact__N15Ry>div article h3 {
    text-transform: uppercase;
    margin: 0 0 .5em;
    font-size: 1em;
    letter-spacing: 1px
}

.Contact_contact__N15Ry>div article>div>a {
    font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    color: #ff3a97
}

@media screen and (max-width:739px) {
    .Contact_contact__N15Ry>div article>div>a {
        font-size: 1.5em
    }
}

.Contact_contact__N15Ry>div article>div>a:last-child {
    font-size: 1.5em;
    color: #199342
}

.Contact_contact__N15Ry>div article>div>a:hover {
    color: #35dd6d
}

.Footer_footer__5bZGY header h2 {
    font-size: 2em
}

.Footer_footer__5bZGY header h2:before {
    content: none
}

.Footer_footer__5bZGY>div {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 5em
}

@media screen and (min-width:980px) {
    .Footer_footer__5bZGY>div {
        width: calc(((100% / 12) * 10) - (1em * 2));
        margin-left: calc(((100% / 12) * 1) + 1em)
    }
}

.Footer_footer__5bZGY>div>div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    width: calc(100% + (2 * 1em));
    margin-left: -1em;
    margin-right: -1em;
    font-size: .9em
}

.Footer_footer__5bZGY>div>div>* {
    flex: 0 1 auto
}

.Footer_footer__5bZGY>div>div>div,
.Footer_footer__5bZGY>div>div>dl {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em
}

@media screen and (min-width:980px) {
    .Footer_footer__5bZGY>div>div>div,
    .Footer_footer__5bZGY>div>div>dl {
        width: calc(((100% / 12) * 5) - (1em * 2))
    }
}

.Footer_footer__5bZGY dt {
    font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0
}

.Footer_footer__5bZGY dd+dt {
    margin-top: 1em
}

.Footer_footer__5bZGY dd {
    margin: .5em 0
}

.Footer_footer__5bZGY figure {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em
}

@media screen and (min-width:980px) {
    .Footer_footer__5bZGY figure {
        margin-left: calc(((100% / 12) * 1) + 1em);
        width: calc(((100% / 12) * 1) - (1em * 2))
    }
}

.Cursor_cursor__VC90n {
    display: none
}

@media(hover:hover)and (pointer:fine) {
    .Cursor_cursor__VC90n {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none
    }
}

.Cursor_pointer__YJlAr {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: #ff3a97;
    transition: all .2s ease-out, transform 0s ease-out
}

.Cursor_pointer__YJlAr:after {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    border: 1px solid #c69c6d;
    border-radius: 50%;
    transition: all .3s ease-in
}

.Cursor_pointer__YJlAr:after,
.Cursor_pointer__YJlAr:before {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}

.Cursor_pointer__YJlAr:before {
    content: "drag";
    font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
    line-height: 1;
    font-size: .7em;
    opacity: 0;
    transition: opacity .1s ease-out
}

.Cursor_pointer__YJlAr[data-pressed=pressed]:after {
    width: 1.75em;
    border-color: #f4f4f8;
    height: 1.75em
}

.Cursor_link__ah8Bo:after {
    width: 4em;
    height: 4em
}

.Cursor_link__ah8Bo[data-pressed=pressed]:after {
    width: 3.5em;
    height: 3.5em
}

.Cursor_drag__eb3VF {
    width: 3em;
    height: 3em;
    background: #199342
}

.Cursor_drag__eb3VF:after {
    width: 4em;
    height: 4em
}

.Cursor_drag__eb3VF:before {
    opacity: 1;
    transition: opacity .2s ease-out .2s
}

.Cursor_drag__eb3VF[data-pressed=pressed]:after {
    width: 3.5em;
    height: 3.5em
}

.Cursor_canvas__w9y4z {
    width: 100vw;
    height: 100vh;
    z-index: 12000
}

.Modal_modal__4W_v9 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff3a97;
    transform: translateX(-100%);
    z-index: 20;
    overflow: hidden
}

.overlay .Modal_modal__4W_v9 {
    animation: Modal_roadRunnerIn__TA8PJ 1s cubic-bezier(.165, .84, .44, 1) forwards
}

.remove-overlay .Modal_modal__4W_v9 {
    animation: Modal_roadRunnerOut__rrhuu .5s cubic-bezier(.165, .84, .44, 1) forwards
}

.Modal_modal__4W_v9 button {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    background: none;
    z-index: 2
}

.Modal_modal__4W_v9 button svg {
    width: 2em;
    height: 2em;
    fill: #f4f4f8
}

@media screen and (max-width:979px) {
    .Modal_modal__4W_v9 button {
        background: rgba(9, 22, 25, .9);
        left: auto;
        right: 0
    }
    .Modal_modal__4W_v9 button svg {
        width: 1.5em;
        height: 1.5em
    }
}

.Modal_content__8EGWM {
    transition: opacity .1s ease-out;
    position: absolute;
    z-index: 1;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: #091619;
    overflow: auto;
    padding: 6em 0;
    -webkit-overflow-scrolling: touch
}

.Modal_content__8EGWM.loaded {
    transition: opacity .5s ease-out;
    opacity: 1
}

@media screen and (max-width:739px) {
    .Modal_content__8EGWM {
        padding: 2em 0
    }
}

.Modal_content__8EGWM>div>header,
.Modal_content__8EGWM>div>section {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em
}

@media screen and (min-width:1740px) {
    .Modal_content__8EGWM>div>header,
    .Modal_content__8EGWM>div>section {
        margin-left: calc(((100% / 12) * 3) + 1em);
        width: calc(((100% / 12) * 6) - (1em * 2))
    }
}

@media screen and (min-width:980px) {
    .Modal_content__8EGWM>div>header,
    .Modal_content__8EGWM>div>section {
        margin-left: calc(((100% / 12) * 2) + 1em);
        width: calc(((100% / 12) * 8) - (1em * 2))
    }
}

@media screen and (min-width:1370px) {
    .Modal_content__8EGWM>div>header,
    .Modal_content__8EGWM>div>section {
        margin-left: calc(((100% / 12) * 3) + 1em);
        width: calc(((100% / 12) * 6) - (1em * 2))
    }
}

.Modal_content__8EGWM>div>header h2,
.Modal_content__8EGWM>div>section h2 {
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -2px
}

.Modal_content__8EGWM>div>header h2:after,
.Modal_content__8EGWM>div>header h2:before,
.Modal_content__8EGWM>div>section h2:after,
.Modal_content__8EGWM>div>section h2:before {
    content: none
}

@media screen and (max-width:979px) {
    .Modal_content__8EGWM>div>header h2,
    .Modal_content__8EGWM>div>section h2 {
        font-size: 2em;
        padding-right: 1em
    }
}

.Modal_content__8EGWM>div>header h3,
.Modal_content__8EGWM>div>section h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #ff3a97;
    margin: 0
}

@media screen and (max-width:979px) {
    .Modal_content__8EGWM>div>header h3,
    .Modal_content__8EGWM>div>section h3 {
        font-size: 1em;
        padding-right: 2em
    }
}

.Modal_content__8EGWM>div>header h3 span,
.Modal_content__8EGWM>div>section h3 span {
    margin-right: .5em
}

.Modal_content__8EGWM>div>header img,
.Modal_content__8EGWM>div>section img {
    display: block;
    margin: 3em 0;
    position: relative;
    left: 50%;
    max-height: 80vh;
    transform: translateX(-50%);
    max-width: calc(100% + 16em)
}

@media screen and (max-width:979px) {
    .Modal_content__8EGWM>div>header img,
    .Modal_content__8EGWM>div>section img {
        max-width: 100%;
        margin: 1em 0
    }
}

.Modal_content__8EGWM>div>section h2 {
    font-size: 2em;
    margin-top: 1em
}

@keyframes Modal_roadRunnerIn__TA8PJ {
    0% {
        transform: translateY(100%) scale(1);
        border-radius: 5px
    }
    70% {
        transform: translateY(-5%) scale(.9)
    }
    to {
        transform: translateY(0) scale(1)
    }
}

@keyframes Modal_roadRunnerOut__rrhuu {
    0% {
        transform: translateY(0)
    }
    30% {
        transform: translateY(-30%) scale(.9)
    }
    to {
        transform: translateY(130%)
    }
}

.Modal_modal__editable__4XiXV h1,
.Modal_modal__editable__4XiXV h2,
.Modal_modal__editable__4XiXV h3,
.Modal_modal__editable__4XiXV h4 {
    text-transform: uppercase
}

.Works_work__6QBYk {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;
    --scrollbar: 0px
}

.Works_work__6QBYk>span>article:first-child {
    overflow: hidden;
    width: calc(100vw - 6em - var(--scrollbar));
    transform: translateX(calc(-1 * (8em - var(--scrollbar))))
}

@media screen and (max-width:1739px) {
    .Works_work__6QBYk>span>article:first-child {
        transform: translateX(calc(-1 * (5em - var(--scrollbar))))
    }
}

@media screen and (max-width:739px) {
    .Works_work__6QBYk>span>article:first-child {
        transform: translateX(calc(-1 * (2em - var(--scrollbar))));
        width: 100vw
    }
}

.Works_work__6QBYk>span>article:first-child>div {
    height: 27.778em;
    overflow-x: scroll;
    width: 100%;
    position: relative
}

@media screen and (max-width:739px) {
    .Works_work__6QBYk>span>article:first-child>div {
        height: 20em
    }
}

.Works_work__6QBYk>span>article:first-child>div figure {
    margin: 0;
    height: 100%;
    cursor: grab;
    width: -moz-fit-content;
    width: fit-content;
    display: flex
}

.Works_work__6QBYk>span>article:first-child>div figure:after {
    content: "";
    display: block;
    width: 10em
}

.Works_work__6QBYk>span>article:first-child>div figure img {
    height: 100%;
    width: auto;
    display: block;
    position: relative;
    z-index: 1
}

@media screen and (max-width:1739px) {
    .Works_work__6QBYk>span>article:first-child>div figure img {
        padding: 0 1.5em
    }
}

@media screen and (max-width:739px) {
    .Works_work__6QBYk>span>article:first-child>div figure img {
        padding: 0 1em
    }
}

.Works_work__6QBYk>article:last-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    width: calc(100% + (2 * 1em));
    margin-left: -1em;
    margin-right: -1em
}

.Works_work__6QBYk>article:last-child>* {
    flex: 0 1 auto
}

.Works_work__6QBYk>article:last-child>div {
    width: 100%;
    width: calc(100% - (2 * 1em));
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 6em;
    scroll-snap-align: start
}

@media screen and (min-width:980px) {
    .Works_work__6QBYk>article:last-child>div {
        margin-left: calc(((100% / 12) * 1) + 1em);
        width: calc(((100% / 12) * 10) - (1em * 2))
    }
}

.Works_work__6QBYk>article:last-child>div h3 {
    font-size: 1.667em;
    text-transform: uppercase;
    margin: 1em 0 0
}

.Works_work__6QBYk>article:last-child>div h4 {
    display: flex;
    gap: 1em;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    color: #ff3a97
}

.Works_work__6QBYk>article:last-child>div p {
    font-size: .9em;
    width: 35%
}

@media screen and (max-width:739px) {
    .Works_work__6QBYk>article:last-child>div p {
        width: 100%
    }
}

.Works_work__6QBYk>article:last-child>div button {
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "calt" 0;
    background: none;
    padding: 0 1.5em 0 0;
    position: relative;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    text-transform: uppercase;
    color: #4985fe;
    transform: color .3s ease-out;
    display: flex;
    align-items: center;
    line-height: 1.4em
}

.Works_work__6QBYk>article:last-child>div button:after {
    content: "";
    width: 1em;
    height: 1.2em;
    line-height: 1;
    background: url(/images/arrow-right-thick.svg) no-repeat;
    background-size: 1em 1em;
    margin-left: .5em;
    transition: transform .3s ease-out
}

.Works_work__6QBYk>article:last-child>div button:active,
.Works_work__6QBYk>article:last-child>div button:focus,
.Works_work__6QBYk>article:last-child>div button:hover {
    color: #7ca7fe
}

.Works_work__6QBYk>article:last-child>div button:active:after,
.Works_work__6QBYk>article:last-child>div button:focus:after,
.Works_work__6QBYk>article:last-child>div button:hover:after {
    transform: translateX(.5em)
}

.Nav_fixed-nav__QoX6B {
    position: fixed;
    height: 100%;
    width: 6em;
    border-right: 1px solid rgba(244, 244, 248, .2);
    left: 0;
    top: 0;
    background: #091619;
    padding: 0 1em;
    z-index: 20
}

@media screen and (max-width:739px) {
    .Nav_fixed-nav__QoX6B {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 5em;
        display: flex;
        align-items: center;
        border-right: none;
        border-top: 1px solid rgba(244, 244, 248, .2);
        justify-content: center;
        position: fixed
    }
}

.Nav_logo__UEWaR {
    width: 100%;
    text-indent: -9999px;
    font-size: 1em;
    margin: 2em 0;
    line-height: 0;
    overflow: hidden;
    display: block
}

.Nav_logo__UEWaR:after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 60%;
    background: url(/images/logo.svg) no-repeat 50%;
    background-size: 100%
}

@media screen and (max-width:739px) {
    .Nav_logo__UEWaR {
        display: none
    }
}

.Nav_logo__UEWaR a {
    display: block
}

.Nav_navigation__o2ac3 {
    transform: rotate(-90deg);
    transform-origin: 50% 100% 0;
    position: relative;
    margin-top: 5em
}

@media screen and (max-width:739px) {
    .Nav_navigation__o2ac3 {
        transform: none;
        margin: 0
    }
}

.Nav_navigation__o2ac3 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    display: flex;
    right: 0;
    top: 50%;
    align-items: center;
    transform: translateY(-50%)
}

@media screen and (max-width:739px) {
    .Nav_navigation__o2ac3 ul {
        position: relative;
        transform: none;
        top: auto;
        right: auto;
        flex-direction: row-reverse
    }
}

.Nav_navigation__o2ac3 li {
    display: flex;
    align-items: center
}

.Nav_navigation__o2ac3 li:not(:last-child):after {
    content: "·";
    margin: 0 .5em;
    color: #ff3a97
}

@media screen and (max-width:739px) {
    .Nav_navigation__o2ac3 li:not(:first-child):after {
        content: "·";
        margin: 0 .5em;
        color: #ff3a97
    }
    .Nav_navigation__o2ac3 li:first-child:after {
        content: none
    }
}

.Nav_navigation__o2ac3 a {
    display: block;
    white-space: nowrap;
    font-family: Codec, Arial, Helvetica Neue, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .5px;
    position: relative;
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "calt" 0;
    margin: 0 1em;
    transition: all .3s ease-out
}

.Nav_navigation__o2ac3 a:active,
.Nav_navigation__o2ac3 a:focus,
.Nav_navigation__o2ac3 a:hover {
    color: #7ca7fe
}

.Nav_navigation__o2ac3 a:after {
    content: "";
    width: 0;
    display: block;
    position: absolute;
    height: 2px;
    top: 4.5em;
    left: 50%;
    transition: all .3s ease-out;
    transform: translateX(-50%);
    background: #ff3a97;
    z-index: 30
}

@media screen and (max-width:739px) {
    .Nav_navigation__o2ac3 a {
        white-space: normal;
        text-align: center;
        line-height: 1.2;
        width: 5em
    }
    .Nav_navigation__o2ac3 a:after {
        top: -2em
    }
    .Nav_active__3EK_o>.Nav_navigation__o2ac3 a:after {
        width: 120%
    }
}

.Nav_navigation__o2ac3 .active a:after {
    width: 100%
}